
.top-nav{
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #8bbcff;
    margin-bottom: 1%;

    span{
        // width: 75%;
        font-size: 50px;
        font-weight: 600;
        font-family: cursive;
    }
    img{
        width: 5%;
        border-radius: 50%;
    }

    ul li {
        display: inline;
        margin-left: 2%;

        a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-weight: 650;
        }
    }
}