<div class="top-nav px-2">
  <!-- <span class="col-5">K-Ready Cafe</span> -->
  <span class="logo">Shop Go</span>
  <div class="nav-btns">
    <ul type="none">
      <li><button class="btn" routerLink="/" routerLinkActive="false">Home</button></li>
      <li><button class="btn" routerLink="/user" routerLinkActive="false">Users</button></li>
      <li><button class="btn" routerLink="/item" routerLinkActive="false">Items</button></li>
    </ul>
  </div>
  <div class="search-ele row">
    <input type="text" class="col-sm p-0">
    <i data-feather="search" class="col-sm-1 p-0"></i>
  </div>
  <img class="profile_pic" src="../assets/profile_pic.jpg" alt="">
</div>

<div class="row mx-2">
  <router-outlet></router-outlet> 
</div>