
<div class="inv-table-container" *ngIf="!isEdited">
    <div class="row">
        <p class="inv-container-header col">Items</p>
        <button class="btn btn-primary col-1" routerLink="/item/create" routerLinkActive="false">New item</button>
    </div>
    <hr>

    <table class="inv-table" [cellSpacing]="0">
        <tr>
            <th>SNo.</th>
            <th>Item Name</th>
            <th>Created date</th>
            <th>Updated date</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of itemList; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.createdDate? item.createdDate: '-'}}</td>
            <td>{{item.updatedDate? item.updatedDate: '-'}}</td>
            <td>{{item.status}}</td>
            <td><a href="javascript:void(0)" (click)="editItem(item)">Edit</a></td>
        </tr>
    </table>

    <app-pagination></app-pagination>
</div>

<app-item-create *ngIf="isEdited" [isEdited]="isEdited" (output)="cancel()" [data]="editData"></app-item-create>