.card{
    width: 130px;

}

.item-detail{

    #itemName{
        display: block;
    }

    #itemQty{
        display: none;
    }

    :hover > #itemName {
            display: none;
        
    }
}