<div [hidden]="isAdmin" class="py-2">
    <!-- Customer Page -->
    <div class="row">
        <img class="bg-img" src="../../assets/food-g2b5b789c3_1280.jpg" alt="">
        <div class=""></div>
    </div>

</div>
<div [hidden]="!isAdmin" class="py-2">
    <!-- Admin Page -->
    <div class="menuItems">
        <div class="menu-card" *ngFor="let item of itemList">
            <div class="menu-header">
                <img src="../../../assets/food-g2b5b789c3_1280.jpg" alt="">
            </div>
            <div class="menu-body">
                <div class="row">
                    <span class="col menu-title">{{item.name}}</span>
                    <span class="col-2"><i>&#8377;</i>{{item.selling}}</span>
                </div>
                <div class="row">
                    <span class="rating"></span>
                </div>
            </div>
        </div>
    </div>
</div>