<div [hidden]="isAdmin" class="py-2">
    <!-- Customer Page -->
    <div class="row">
        <img class="bg-img" src="../../assets/food-g2b5b789c3_1280.jpg" alt="">
        <div class=""></div>
    </div>

</div>
<div [hidden]="!isAdmin" class="py-2">
    <!-- Admin Page -->
    <div class="menuItems">
        <div class="menu-card" *ngFor="let item of itemList">
            <div class="menu-header">
                <img src="../../../assets/food-g2b5b789c3_1280.jpg" alt="">
            </div>
            <div class="menu-body">
                <div class="row">
                    <span class="col menu-title">{{item.name}}</span>
                    <span class="col-2 menu-price"><i>&#8377;</i>{{item.selling}}</span>
                </div>
                <div class="row">
                    <p class="menu-desc">{{item.description}}</p>
                </div>
                <div class="row">
                    <div class="rating col">
                        <i data-feather="search" class="col-sm-1 p-0"></i>
                        <i data-feather="heart"></i>
                        <i data-feather="heart"></i>
                        <i data-feather="heart"></i>
                        <i data-feather="heart"></i>
                    </div>
                </div>
                <div class="row" *ngIf="!item.cartQty || item.cartQty <= 0">
                    <button class="btn btn-primary addCart" (click)="changeQty(item, 'add')">Add to cart</button>
                </div>
                <div class="cartQty" *ngIf="item.cartQty > 0">
                        <button class="col" (click)="changeQty(item, 'add')">+</button>
                        <input type="text" class="col" [(ngModel)]="item.cartQty">
                        <button class="col" (click)="changeQty(item,'subtract')">-</button>
                </div>
            </div>
        </div>
    </div>
</div>