<div>
    <button class="p-1 text-sm"><i class="bi bi-x"></i></button>
</div>

<!-- <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
    <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
  </div>
  <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-01.jpg" alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
    </div>
    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
    </div>
  </div>
  <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
    <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-featured-product-shot.jpg" alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">
  </div>
</div> -->

<div class="flex">
    <div class="w-1/2 h-full p-2">
        <div class="aspect-h-5 aspect-w-4 w-full overflow-hidden rounded-md bg-gray-200" style="max-height: 25rem;">
            <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-featured-product-shot.jpg" alt="" class="h-full w-full object-center">
        </div>

        <div class="flex justify-center mt-5">
            <div class="aspect-h-5 aspect-w-4 w-20 overflow-hidden rounded-md bg-gray-200 mx-2 hover:shadow hover:border-gray-500">
              <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="" class="h-full w-full object-cover object-center">
            </div>

            <div class="aspect-h-5 aspect-w-4 w-20 overflow-hidden rounded-md bg-gray-200 mx-2 hover:shadow hover:border-gray-500">
              <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="" class="h-full w-full object-cover object-center">
            </div>
            
            <div class="aspect-h-5 aspect-w-4 w-20 overflow-hidden rounded-md bg-gray-200 mx-2 hover:shadow hover:border-gray-500">
              <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="" class="h-full w-full object-cover object-center">
            </div>
        </div>
    </div>
    <div class="w-1/2 h-full flex flex-col overflow-auto p-2">
        <h1 class="font-bold text-3xl">Lorem ipsum dolor sit</h1>
        <span class="text-xl font-medium my-1">&#8377; 2000</span>
        <p class="my-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt similique id voluptate accusantium 
          blanditiis velit natus tempore quisquam! Nihil vitae blanditiis, cupiditate ipsum impedit voluptates 
          fuga minima error ratione ex perspiciatis, earum, culpa magnam quisquam nesciunt amet voluptas repellat? Impedit!
        </p>

        <div class="mt-2 flex flex-col">
          <span class="my-1">Colour</span>
          <button class="w-6 h-6 rounded-full bg-gray-500 focus:border-b-3"></button>
        </div>
    </div>
</div>