<div class="">
    <button class="w-10 h-10 text-center text-xl font-medium hover:shadow rounded-full" (click)="closeItemDetails.emit(false)"><i class="bi bi-x"></i></button>
</div>

<!-- <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
    <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
  </div>
  <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-01.jpg" alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
    </div>
    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
    </div>
  </div>
  <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
    <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-featured-product-shot.jpg" alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">
  </div>
</div> -->

<div class="flex rounded-t-md">
    <div class="w-1/2 h-full p-2">
      <div class="aspect-h-5 aspect-w-4 w-full overflow-hidden rounded-md border-1 bg-gray-200 border-gray-300 shadow-md" style="max-height: 25rem;">
            <img src="{{selectedImage}}" alt="" class="h-full w-full object-center">
        </div>

        <div class="flex justify-center mt-5">
            <div class="aspect-h-5 aspect-w-4 w-20 overflow-hidden rounded-md bg-gray-200 mx-2 hover:shadow hover:border-gray-300  border-1"
                  *ngFor="let img of selectedColor.images">
              <img src="{{img}}" alt="" class="h-full w-full object-cover object-center" (click)="selectImage(img)">
            </div>
        </div>
    </div>
    <div class="w-1/2 h-full flex flex-col overflow-auto p-2">
        <h1 class="font-bold text-3xl">{{item.name}}</h1>
        <span class="text-xl font-normal my-2">&#8377; {{item.selling}}</span>
        <p class="my-2">{{item.description}}</p>

        <div class="mt-2 flex flex-col">
          <span class="my-1 font-medium">Colour</span>
          <div class="flex">
            <button class="w-6 h-6 me-2 rounded-full bg-gray-300 border-grey-500 border-1 hover:shadow-inner"></button>
            <button class="w-6 h-6 me-2 rounded-full bg-white border-grey-500 border-1 hover:shadow-inner" ></button>
            <button class="w-6 h-6 me-2 rounded-full bg-black border-grey-500 border-1 hover:shadow-inner" ></button>
          </div>
        </div>
    </div>
</div>