/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// $ionicons-font-path: "../node_modules/ionicons/dist/fonts";
// @import "../node_modules/ionicons/dist/";

body {
    margin: 0;
}

.inv-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .inv-container-header{
        text-align: start;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .btn {
        font-size: 0.8rem;
    }
}

.inv-table {
    width: 70%;
    font-size: 0.8rem;
    align-self: center;
    border: 1px solid #c6c6c6;
    margin-top: 1%;

    th {
        background-color: #6cbaff;
        padding: 1% 2%;
    }

    td {
        padding: 1% 2%;
    }
}

.inv-detail-container {
    width: 50%;
    margin: 0% 2%;
}

.save-btn {
    width: 10%;
    background-color: #259aff;
    border-color: #0072d5;
    margin: 2% 0.5rem;
}

.cancel-btn{
    width: 10%;
    background-color: #a8a8a8;
    border-color: #5e5e5e;
    margin: 2% 0.5rem;
}

.switch {
    position: relative;
    width: 14%;
    height: 28px;

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c6c6c6;
        border-radius: 20px;
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .slider::before {
        position: absolute;
        content: "";
        font-size: 1rem;
        width: 20px;
        height: 20px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        box-shadow: inset 0px 0px 4px 0px dimgrey;
    }

    
    input:checked + .slider {
        background-color: #2eca36;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(72px);
        -ms-transform: translateX(72px);
        transform: translateX(72px);
    }

    input:checked + .slider::after {
        content: "Active";
        font-size: 0.8rem;
        color: white;
        left: 4px;
        bottom: 4px;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
}

.page-nav {
    position: absolute;
    // bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-around;

    .page-link {
        font-size: 13px;
    }

    // .page-link:first {
    //     background-color: #2196F3;
    //     color: white;
    // }
}