/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #4093ff;
$bg-color-2: #5C9DF2;
$ff-color: white;
$bg-neutral: white;

body {
    height: 100svh;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    // background-color: $bg-color;
    // background-color: $bg-neutral;
    // background-image: linear-gradient(45deg, black, transparent);
}

.inv-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 0%;

    .inv-container-header{
        text-align: start;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0;
        color: $ff-color;
    }

    .btn {
        font-size: 0.8rem;
    }
}

hr {
    font-size: 2px;
    color: $bg-neutral;
}

.inv-table {
    width: 85%;
    font-size: 0.8rem;
    align-self: center;
    margin-top: 2rem;
    background-color: $bg-neutral;

    th {
        background-color: $bg-color;
        padding: 1% 2%;
        color: $ff-color;
        font-size: 1rem;
        font-weight: 500;
    }

    td {
        padding: 1% 2%;
    }

    tr{ border: 1px solid #c6c6c6; }
    tr:first-child{ 
        border: none;
        border-top-right-radius: 0.4rem;
        border-top-left-radius: 0.4rem; 
    }
    tr:last-child{ 
        border-bottom: 1px solid #c6c6c6; 
        border-bottom-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }
}

.inv-detail-container {
    // width: 50%;
    margin: 0% 6%;
    font-size: 0.85rem;

    .img-view {
        // margin-right: 1rem;
        width: 15rem;
        height: 10rem;
        border-radius: 1rem;
        border: 1px solid grey;
        fill-rule: evenodd;
    }

    input, textarea {
        font-size: 0.85rem;
    }

    .strong {
        font-weight: 700;
    }
}

.save-btn {
    width: 10%;
    background-color: #259aff;
    border-color: #0072d5;
    margin: 2% 0.5rem;
}

.cancel-btn{
    width: 10%;
    background-color: #a8a8a8;
    border-color: #5e5e5e;
    margin: 2% 0.5rem;
}

.switch {
    position: relative;
    width: 6rem;
    height: 28px;

    input{
        display: none;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        font-size: 1rem;
        padding-left: 0.5rem;
        background-color: #bbbbbb;
    }

    .slider::before {
        position: absolute;
        content: "";
        font-size: 1rem;
        width: 20px;
        height: 20px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    }

    
    input:checked + .slider {
        background-color: #2eca36;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(4.2rem);
        -ms-transform: translateX(4.2rem);
        transform: translateX(4.2rem);
    }

    input:checked + .slider::after {
        content: "Active";
        font-size: 0.8rem;
        color: white;
        left: 4px;
        bottom: 4px;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
}

.page-nav {
    position: absolute;
    // bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-around;

    .page-link {
        font-size: 13px;
    }
}

// Custom Scrollbar
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 25px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 25px;
  }



  .inv-container{
    input:focus , textarea:focus{
        outline: none;
    }   
  }